body , html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
     
}
.header{
   top: 0;
   left: 0;
   width: 100%;
    background-color: #033d03;
    display: flex;
    align-items: center;
    padding: 15px 5px;
    z-index: 1000;
 }
 .logo{
    width: 75px;
    display: flex;
    align-items: center;
    padding-left: 10px;
 }
 h1{
    margin: 0;
    color: white;
    font-size: 30px;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 100;
    cursor: pointer;
 }
.products-page-cntr{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
width: 100%;
}
.img-cntr{

    display: flex;
   padding: 15px;
    flex-direction: column;
background-color: white;
 gap: 10px;

}
.main-img{
overflow: hidden;
    height:  550px;
    width: 570px;
background-color: black;
}
.main-img img{
    width: 100%;
    height:  100%;
    object-fit: cover;
    cursor: zoom-in;
}
.main-img img:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease;
}
.side-img{
display: flex;
width: 100%;
height: auto;
overflow: hidden;
gap: 5px;

}
.side-img img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    cursor: pointer;
}

.side-img img:hover{
    border: solid 2px black;
}
.side-img img.active{
    border: solid 2px black;
}
.description-page-cntr{
    
    display: flex;
    flex-direction: column;
background-color: white;
    overflow: visible;
    overflow-wrap: break-word;
    align-items: start;
    padding: 20px 20px 20px 0;
}
.description-cntr{
    width: 600px;
}
h2{
   
     color:black;
     margin: 15px 0;
    font-family:   "Readex Pro", sans-serif;
    font-size:20px;
     text-align: left;
}
#product-name-ar{
     direction: rtl;
     text-align: right;
     font-family:  "Readex Pro", sans-serif;
}

.preis{
   display: flex;
   flex-direction: column;
   gap: 3px;
}
.preis-before{
   text-decoration: line-through;
    font-size: 25px;
    color: gray;
    font-family: Almarai,sans-serif;
}
.preis-after{
   font-size: 33px;
   color: darkgreen;
   font-family: Almarai, sans-serif;
   font-weight: 600;
   margin-top: 20px;
}
.discount-badge{
    background-color: red;
    color: white;
    padding: 3px 5px;
    font-size: 14px;
    border-radius: 8px;
width: fit-content;


}
.order-form-cntr{

    display: flex;
    flex-direction: column;
    background-color:white;
    border: solid 2px darkgreen;
    border-radius: 10px;
    width: 400px;
    height: auto;
    padding: 25px;
    margin: 15px 0 30px 0;
 align-items: center;
justify-content: center;
}
#order-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
h3{
    font-family: "Readex Pro", sans-serif;
    font-size:20px;
 text-align: center;
  direction: rtl;
  margin:0 0 25px 0;
}
.order-form-cntr input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: solid 2px darkgreen ;
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
  
}
.order-form-cntr button{
    display: flex;
    justify-content: center;
    align-items: center;
background-color: darkgreen;
color: white;
font-size: 40px;
    width: 100%;
    height: 70px;
    margin-top: 40px;
     border-radius: 10px;
     cursor: pointer;
     font-size: 20px;
font-family: "Momo Trust Display", sans-serif; 
    }

.order-form-cntr button:hover{
        background-color: white;
        color: darkgreen;
    }
.description-ar{
    text-align: right;
     font-family: "Readex Pro", sans-serif;
     direction: rtl;
    font-size: 15px;
      margin:20px 0 15px 0;
}


.description-fr{
white-space: normal;
 font-family: "Readex Pro", sans-serif;
    font-size: 15px;
    margin: 20px 0 10px 0;
}
.features-dsc{
 text-align: right;
     font-family: "Readex Pro", sans-serif;
     direction: rtl;
    font-size: 15px;
     margin: 20px 0 10px 0;
     line-height: 30px;
}
#contact{
    background-image:url(contact-img/contact-background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   min-height: 490px;
   margin-top: 40px;
   padding: 10px;
}
.contact-page{
   display: flex;
   flex-direction: column;
justify-content: center;
align-items: center;
font-family:   "Oswald", sans-serif;

}
h5{
  display: flex;
   color: #00c600;
   font-family: "Momo Trust Display", sans-serif;
   font-size: 40px;
   margin: 40px 0 0 40px;
   justify-content: center;
   align-items: center;
   cursor: default;
}

.cnt-srvc{
   display: flex;
   
margin-top: 70px;   
gap: 10px;
}
h6{
   color: #00c600;
   font-family: "Momo Trust Display", sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
      margin: 0 0 10px  0;

   font-size: 30px;
   cursor: default;


}
.direct-contact{ 
   display: flex;
   flex-direction: column;
    width: 350px;
   height: 200px;
   padding: 10px;
      background-color: #ececec;
border-radius: 10px;

    }
.contact-icon {
  display: flex;
  flex-direction: column;
  list-style: none;
   gap: 7px;
    
}


.contact-icon a {
    color: black;
   display: flex;
   margin-left: 3px;
   gap: 8px;
   font-size: 17px;
   text-decoration: none;
   align-items: center;

}
.phone:hover{
   color: rgb(24, 187, 24);
}
.instagram:hover{
   color: #e1306c;
}
.whatsapp:hover{
  color:#25D366 ;
}
.facebook:hover{
   color: white;
     color:#1877F2 ;
}
.service{
    display: flex;
   flex-direction: column;
   width: 350px;
   height: 200px;
   padding: 10px;
      background-color: #ececec;
border-radius: 10px;

}
.service ul  {
    display: flex;
    flex-direction: column;
  font-size: 16px;
  list-style: none;
   gap: 8px;
   margin-top: 15px;
   margin-bottom: 0;
}
.service li {
   display: flex;
   align-items: center;
   gap: 15px;
}