body{
    margin: 0%;
    padding-top: 58px;
    background-color: #ececec;
 }
 html{
   scroll-behavior: smooth;
 }
 section{
   scroll-margin-top: 80px;
 }
 #contact{
   scroll-margin-top: -80px;
 }
.header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
    background-color: #033d03;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 15px 5px;
    z-index: 1000;
 }
  .header-links {
   position: absolute;
  left: 50%;
  transform: translateX(-50%);

  }
.logo{
    width: 75px;
    display: flex;
    align-items: center;
    padding-left: 10px;
 }
 h1{
    margin: 0;
    color: white;
    font-size: 30px;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 100;
    cursor: pointer;
 }

  .header-links nav ul{
   list-style: none;
   display:flex;
  }
 .header-links nav ul li a {
color: white;
 font-family: "Momo Trust Display", sans-serif;
 letter-spacing: 1px;
padding: 5px 25px;
margin-left: 10px;
font-size: 15px;
text-decoration: none;
border-radius: 15px;
 }
 .header-links a:hover {
    background-color: darkgreen;
 }
 .nav-link.active{
   background-color: darkgreen;
   color: #00c600;
 }




 .home-page{
    background-image: url(home-images/home-background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 530px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 60px;
    border-radius: 0 0 40px 40px;
 }
 

 h2{
    color: #00c600;
     font-family: "Momo Trust Display", sans-serif;
    font-size: 55px;
    margin: 0 0 10px 12px;

 }
 h3{
    color: white;
     font-family: "Lora", serif;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 15px 0 1px 12px;

 }
 .btn-home-page a{
    color:  white;
    background-color: #00c600 ;
     font-family: "Momo Trust Display", sans-serif;
     display: inline-flex;
     white-space: nowrap;
     align-items: center;
     justify-content: center;
    font-size: 13px;
    text-decoration: none;
    border-radius: 25px;
    margin: 40px 0 0 12px;
    padding: 13px  15px  ;
transition: all 0.8s;
width: auto;
 }
 .btn-home-page a:hover{
   background-color: white;
   color: #00c600 ;
 }
 .btn-home-page::before{
   height: 100%;
 }
 .slideshow {
  position: relative;
  width: 550px;
  height: 390px;
  margin: 40px 20px;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
}

.slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.slideshow img.active {
  opacity: 1;
}


h4{
font-family: "Momo Trust Display", sans-serif;
   font-size: 40px;
   margin: 30px 0 30px 40px;
   color: #00c600;
   display: flex;
   justify-content: center;
   align-items: center;
}

.products-cards{
   
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;

}
.cards{
   display: flex;
      flex-direction: column;
      background-color: white;
border-radius: 5px;
   height: 500px;
   width: 290px;
   margin: 3px;
   overflow: hidden;
   border: solid 1px #d8d8d8;
   cursor: pointer;
   text-decoration: none;
}
.cards img{
   display: block;
   width: 100%;
   height: 65%;
   object-fit: cover;

}
.cards-info{
   height: 20%;
   
}
.cards-name{
font-family: "Momo Trust Display", sans-serif; 
   font-weight: 600;
   margin: 10px 0 10px 18px;
   font-size: 28px;
   font-weight: 500;
   color: black;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
.preis{
   display: flex;
   flex-direction: column;
   gap: 3px;
   margin-left: 18px;
}
.preis-before{
   text-decoration: line-through;
    font-size: 20px;
    color: gray;
    font-family: Almarai,sans-serif;
}
.preis-after{
   font-size: 26px;
   color: darkgreen;
   font-family: Almarai, sans-serif;
   font-weight: 600;
}
.btn-cart{
     font-family: "Momo Trust Display", sans-serif; 
   display: flex;
   flex-direction: row;
      justify-content: center;
   align-items: center;
   margin: auto;
    font-size: 15px;
    padding: 10px;
    color: white;
    background-color:  #033d03;
      width: 90%;
    height: 40px;
     border-radius: 5px;
transition: all 0.5s;
}
.btn-cart:hover{
   background-color: white;
   color:  #033d03;
 }
#contact{
    background-image: url(contact-img/contact-background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   height: 490px;
   margin-top: 40px;
   padding: 10px;
}
.contact-page{
   display: flex;
   flex-direction: column;
justify-content: center;
align-items: center;
font-family:   "Oswald", sans-serif;

}
h5{
  display: flex;
   color: #00c600;
   font-family: "Momo Trust Display", sans-serif;
   font-size: 40px;
   margin: 40px 0 0 40px;
   justify-content: center;
   align-items: center;
   cursor: default;
}

.cnt-srvc{
   display: flex;
   
margin-top: 70px;   
gap: 10px;
}
h6{
   color: #00c600;
   font-family: "Momo Trust Display", sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
      margin: 0 0 10px  0;

   font-size: 30px;
   cursor: default;


}
.direct-contact{ 
   display: flex;
   flex-direction: column;
    width: 350px;
   height: 200px;
   padding: 10px;
      background-color: #ececec;
border-radius: 10px;

    }
.contact-icon {
  display: flex;
  flex-direction: column;
  list-style: none;
   gap: 7px;
    
}


.contact-icon a {
    color: black;
   display: flex;
   margin-left: 3px;
   gap: 8px;
   font-size: 17px;
   text-decoration: none;
   align-items: center;

}
.phone:hover{
   color: rgb(24, 187, 24);
}
.instagram:hover{
   color: #e1306c;
}
.whatsapp:hover{
  color:#25D366 ;
}
.facebook:hover{
   color: white;
     color:#1877F2 ;
}
.service{
    display: flex;
   flex-direction: column;
   width: 350px;
   height: 200px;
   padding: 10px;
      background-color: #ececec;
border-radius: 10px;

}
.service-icon ul  {
    display: flex;
    flex-direction: column;
  font-size: 16px;
  list-style: none;
   gap: 8px;
   margin-top: 10px;
   margin-bottom: 0;
}
.service-icon li {
   display: flex;
   align-items: center;
   gap: 15px;
}
.confirmation{
   color: #033d03;
   font-size: 20px;
   justify-content: center;
   align-items: center;
}

/* ----------------------------
   Media Queries 
---------------------------- */
@media only screen and (min-width: 1300px) {
    /* CSS هنا يطبق فقط على الشاشات الكبيرة جداً */

    .header {
        padding: 20px 40px;
    }

    h1 {
        font-size: 40px;
    }

    .home-page {
        height: 650px;
        padding: 40px 80px;
    }

    .slideshow {
        width: 650px;
        height: 450px;
    }

    .cards {
        width: 260px;
        height: 480px;
        margin: 10px;
    }

    h4 {
        font-size: 45px;
    }

    .contact-page {
        max-width: 1200px;
        margin: auto;
    }
}
@media only screen and (max-width: 1000px){
   .header {
        display: flex;
        justify-content: space-between; /* شعار على اليسار، روابط على اليمين */
        align-items: center;
        padding: 10px 15px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #033d03;
        z-index: 1000;
    }
   .logo {
       width: 60px;
       padding-left: 10;
   }


    h1 {
        font-size: 20px; /* حجم مناسب للهاتف */
        margin: 0;
        color: white;
        font-family: "Momo Trust Display", sans-serif;
        font-weight: 100;
        cursor: pointer;
    }

    .header-links {
        position: static; /* إزالة absolute */
        transform: none; /* إزالة translate */
   margin: 0 30px;
      }

    .header-links nav ul {
        display: flex;
    }

    .header-links nav ul li a {
        font-size: 15px;
        padding: 8px 8px;
        margin: 0 15px;
    }


    /* Home Page */
    .home-page {
        height: 450px;
        padding: 5px 15px;
    }
    h2 {
        font-size: 35px;
        margin-left: 15px;
        max-width: 300px;
    }
    h3 {
        font-size: 20px;
        margin-left: 15px;
    }
    .slideshow {
        max-width: 250px;
        max-height: 320px;
        margin: 15px 15px 15px 30px;
    }
    .btn-home-page a{
       font-size: 13px;
       margin: 10px 15px;
       padding: 8px 8px;
    }

    /* Products Cards */
    h4{
      font-size: 30px;
      margin: 15px;
    }
    .products-cards {
      margin: 0%;
      padding: 0%;
        gap: 5px;
    }
    .cards {
       margin: 0%;
      padding: 0%;
        width: 32%; /* 2 cards per row */
        height: 440px;
    }
    .cards-name {
        font-size: 23px;
        margin: 6px 0 6px 8px;
    }
    .preis{
      margin-left: 10px;
    }
    .preis-before {
        font-size: 20px;
    }
    .preis-after {
        font-size: 25px;
    }
    .btn-cart {
        font-size: 15px;
        padding: 5px;
        height: 35px;
        width: 95%;
    }

    /* Contact Page */
    #contact {
        height: 300px;
        padding: 3px;
    }
    h5 {
        font-size: 25px;
        margin: 10px;
    }
    .cnt-srvc {
        margin-top: 15px;
        width: 80%;
    }
    h6 {
        font-size: 18px;
        margin: 5px 0;
    }
    .contact-icon, .service-icon ul {
        padding: 5px;
    }
    .contact-icon li a{
      font-size: 18px;
    }
    .service-icon ul li {
        gap: 3px;
        font-size: 18px;
    }
    .direct-contact, .service {
        width: 100%;
        height: auto;
        padding: 3px;
    }
}
@media only screen and (max-width: 800px){
   /* Header */
   .header {
        display: flex;
        justify-content: space-between; /* شعار على اليسار، روابط على اليمين */
        align-items: center;
        padding: 10px 15px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #033d03;
        z-index: 1000;
    }
   .logo {
       width: 60px;
       padding-left: 10;
   }


    h1 {
        font-size: 20px; /* حجم مناسب للهاتف */
        margin: 0;
        color: white;
        font-family: "Momo Trust Display", sans-serif;
        font-weight: 100;
        cursor: pointer;
    }

    .header-links {
        position: static; /* إزالة absolute */
        transform: none; /* إزالة translate */
   margin: 0 20px;
      }

    .header-links nav ul {
        display: flex;
    }

    .header-links nav ul li a {
        font-size: 15px;
        padding: 8px 8px;
        margin: 0 15px;
    }


    /* Home Page */
    .home-page {
        height: 450px;
        padding: 5px 15px;
    }
    h2 {
        font-size: 35px;
        margin-left: 15px;
        max-width: 300px;
    }
    h3 {
        font-size: 20px;
        margin-left: 15px;
    }
    .slideshow {
        max-width: 300px;
        max-height: 320px;
        margin: 15px 15px 15px 30px;
    }
    .btn-home-page a{
       font-size: 10px;
       margin: 10px 15px;
       padding: 8px 8px;
    }

    /* Products Cards */
    h4{
      font-size: 30px;
      margin: 15px;
    }
    .products-cards {
      margin: 0%;
      padding: 0%;
        gap: 5px;
    }
    .cards {
       margin: 0%;
      padding: 0%;
        width: 32%; /* 2 cards per row */
        height: 430px;
    }
    .cards-name {
        font-size: 23px;
        margin: 6px 0 6px 8px;
    }
    .preis{
      margin-left: 10px;
    }
    .preis-before {
        font-size: 20px;
    }
    .preis-after {
        font-size: 25px;
    }
    .btn-cart {
        font-size: 12px;
        padding: 5px;
        height: 35px;
        width: 95%;
    }

    /* Contact Page */
    #contact {
        height: 300px;
        padding: 3px;
    }
    h5 {
        font-size: 25px;
        margin: 10px;
    }
    .cnt-srvc {
        margin-top: 15px;
        width: 80%;
    }
    h6 {
        font-size: 18px;
        margin: 5px 0;
    }
    .contact-icon, .service-icon ul {
        padding: 5px;
    }
    .contact-icon li a{
      font-size: 18px;
    }
    .service-icon ul li {
        gap: 3px;
        font-size: 18px;
    }
    .direct-contact, .service {
        width: 100%;
        height: auto;
        padding: 3px;
    }
  }
@media only screen and (max-width: 700px){
   

    /* Products Cards */
    h4{
      font-size: 30px;
      margin: 15px;
    }
    .products-cards {
      margin: 0%;
      padding: 0%;
        gap: 5px;
    }
    .cards {
       margin: 0%;
      padding: 0%;
        width: 32%; /* 2 cards per row */
        height: 400px;
    }
    
  
  }

@media only screen and (max-width: 600px) {
    /* Header */
   .header {
        display: flex;
        justify-content: space-between; /* شعار على اليسار، روابط على اليمين */
        align-items: center;
        padding: 10px 15px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #033d03;
        z-index: 1000;
    }
   .logo {
       width: 40px;
       padding-left: 0;
   }


    h1 {
        font-size: 15px; /* حجم مناسب للهاتف */
        margin: 0;
        color: white;
        font-family: "Momo Trust Display", sans-serif;
        font-weight: 100;
        cursor: pointer;
    }

    .header-links {
        position: static; /* إزالة absolute */
        transform: none; /* إزالة translate */
   margin: 0 40px;
      }

    .header-links nav ul {
        display: flex;
    }

    .header-links nav ul li a {
        font-size: 12px;
        padding: 5px 5px;
        margin: 0 5px;
    }


    /* Home Page */
    .home-page {
        height: 450px;
        padding: 5px 15px;
    }
    h2 {
        font-size: 28px;
        margin-left: 15px;
        max-width: 300px;
    }
    h3 {
        font-size: 12px;
        margin-left: 15px;
    }
    .slideshow {
        max-width: 250px;
        max-height: 300px;
        margin: 15px 15px 15px 60px;
    }
    .btn-home-page a{
       font-size: 7px;
       margin: 10px 15px;
       padding: 5px 5px;
    }

    /* Products Cards */
    h4{
      font-size: 30px;
      margin: 15px;
    }
    .products-cards {
      margin: 0%;
      padding: 0%;
        gap: 5px;
    }
    .cards {
       margin: 0%;
      padding: 0%;
        width: 48%; /* 2 cards per row */
        height: 450px;
    }
    .cards-name {
        font-size: 25px;
        margin: 6px 0 6px 8px;
    }
    .preis{
      margin-left: 10px;
    }
    .preis-before {
        font-size: 20px;
    }
    .preis-after {
        font-size: 25px;
    }
    .btn-cart {
        font-size: 14px;
        padding: 5px;
        height: 35px;
        width: 95%;
    }

    /* Contact Page */
    #contact {
        height: 250px;
        padding: 3px;
    }
    h5 {
        font-size: 20px;
        margin: 10px;
    }
    .cnt-srvc {
        margin-top: 15px;
        width: 80%;
    }
    h6 {
        font-size: 13px;
        margin: 5px 0;
    }
    .contact-icon, .service-icon ul {
        padding: 5px;
    }
    .contact-icon li a{
      font-size: 13px;
    }
    .service-icon ul li {
        gap: 3px;
        font-size: 13px;
    }
    .direct-contact, .service {
        width: 100%;
        height: auto;
        padding: 3px;
    }
  }
  @media only screen and (max-width: 500px) {
    /* Header */
   .header {
        display: flex;
        justify-content: space-between; /* شعار على اليسار، روابط على اليمين */
        align-items: center;
        padding: 10px 15px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #033d03;
        z-index: 1000;
    }
   .logo {
       width: 40px;
       padding-left: 0;
   }


    h1 {
        font-size: 15px; /* حجم مناسب للهاتف */
        margin: 0;
        color: white;
        font-family: "Momo Trust Display", sans-serif;
        font-weight: 100;
        cursor: pointer;
    }

    .header-links {
        position: static; /* إزالة absolute */
        transform: none; /* إزالة translate */
   margin: 0 40px;
      }

    .header-links nav ul {
        display: flex;
    }

    .header-links nav ul li a {
        font-size: 12px;
        padding: 5px 5px;
        margin: 0 5px;
    }


    /* Home Page */
    .home-page {
        height: 450px;
        padding: 5px 15px;
    }
    h2 {
        font-size: 25px;
        margin-left: 15px;
        max-width: 300px;
    }
    h3 {
        font-size: 12px;
        margin-left: 15px;
    }
    .slideshow {
        max-width: 300px;
        max-height: 270px;
        margin: 15px 15px 15px 60px;
    }
    .btn-home-page a{
       font-size: 7px;
       margin: 10px 15px;
       padding: 5px 5px;
    }

    /* Products Cards */
    h4{
      font-size: 30px;
      margin: 15px;
    }
    .products-cards {
      margin: 0%;
      padding: 0%;
        gap: 5px;
    }
    .cards {
       margin: 0%;
      padding: 0%;
        width: 48%; /* 2 cards per row */
        height: 390px;
    }
    .cards-name {
        font-size: 20px;
        margin: 6px 0 6px 8px;
    }
    .preis{
      margin-left: 10px;
    }
    .preis-before {
        font-size: 15px;
    }
    .preis-after {
        font-size: 22px;
    }
    .btn-cart {
        font-size: 12px;
        padding: 5px;
        height: 30px;
        width: 95%;
    }

    /* Contact Page */
    #contact {
        height: 250px;
        padding: 3px;
    }
    h5 {
        font-size: 20px;
        margin: 10px;
    }
    .cnt-srvc {
        margin-top: 15px;
        width: 80%;
    }
    h6 {
        font-size: 13px;
        margin: 5px 0;
    }
    .contact-icon, .service-icon ul {
        padding: 5px;
    }
    .contact-icon li a{
      font-size: 13px;
    }
    .service-icon ul li {
        gap: 3px;
        font-size: 13px;
    }
    .direct-contact, .service {
        width: 100%;
        height: auto;
        padding: 3px;
    }
  }
  @media only screen and (max-width: 420px) {
    /* إخفاء شعار H1 */
    h1 {
      font-size: 10px;
    }

    /* Header */
    .header {
        padding: 5px 10px;
    }

    .logo {
        width: 30px; /* تصغير الشعار */
        padding-left: 5px;
    }

    .header-links nav ul li a {
        font-size: 10px; /* تصغير الروابط */
        padding: 3px 3px;
        margin: 0 3px;
    }

    /* Home Page */
    .home-page {
        height: 300px;
        padding: 3px 10px;
    }
    h2 {
        font-size: 22px;
        margin-left: 10px;
        max-width: 200px;
    }
    h3 {
        font-size: 10px;
        margin-left: 10px;
    }
    .slideshow {
        max-width: 150px;
        max-height: 200px;
        margin: 10px 10px;
    }
    .btn-home-page a {
        font-size: 6px;
        margin: 5px 10px;
        padding: 3px 3px;
    }

    /* Products Cards */
    h4 {
        font-size: 20px;
        margin: 10px;
    }
    .products-cards {
        gap: 5px;
    }
    .cards {
        width: 48%; /* بطاقة واحدة في الصف */
        height: 330px;
        margin: 3px 0;
    }
    .cards-name {
        font-size: 19px;
        margin: 4px auto 4px 10px;
    }
    .preis{
      margin-left: 10px;
    }
    .preis-before {
        font-size: 15px;
    }
    .preis-after {
        font-size: 20px;
    }
    .btn-cart {
        font-size: 10px;
        padding: 6px;
        height: 25px;
        width: 95%;
    }

    /* Contact Page */
    #contact {
        height: 250px;
        padding: 3px;
    }
    h5 {
        font-size: 20px;
        margin: 10px;
    }
    .cnt-srvc {
        margin-top: 15px;
        width: 300px;
    }
    h6 {
        font-size: 13px;
        margin: 5px 0;
    }
    .contact-icon, .service-icon ul {
        padding: 5px;
    }
    .contact-icon li a{
      font-size: 13px;
    }
    .service-icon ul li {
        gap: 3px;
        font-size: 13px;
    }
    .direct-contact, .service {
        width: 100%;
        height: auto;
        padding: 3px;
    }
}
  @media only screen and (max-width: 359px) {
    /* إخفاء شعار H1 */
    h1 {
      font-size: 10px;
    }

    /* Header */
    .header {
        padding: 5px 10px;
    }

    .logo {
        width: 30px; /* تصغير الشعار */
        padding-left: 5px;
    }

    .header-links nav ul li a {
        font-size: 10px; /* تصغير الروابط */
        padding: 3px 3px;
        margin: 0 3px;
    }

    /* Home Page */
    .home-page {
        height: 300px;
        padding: 3px 10px;
    }
    h2 {
        font-size: 20px;
        margin-left: 10px;
        max-width: 200px;
    }
    h3 {
        font-size: 10px;
        margin-left: 10px;
    }
    .slideshow {
        max-width: 150px;
        max-height: 200px;
        margin: 10px 10px;
    }
    .btn-home-page a {
        font-size: 6px;
        margin: 5px 10px;
        padding: 3px 3px;
    }

    /* Products Cards */
    h4 {
        font-size: 20px;
        margin: 10px;
    }
    .products-cards {
        gap: 5px;
    }
    .cards {
        width: 48%; /* بطاقة واحدة في الصف */
        height: 300px;
        margin: 3px 0;
    }
    .cards-name {
        font-size: 17px;
        margin: 4px auto 4px 10px;
    }
    .preis{
      margin-left: 10px;
    }
    .preis-before {
        font-size: 13px;
    }
    .preis-after {
        font-size: 18px;
    }
    .btn-cart {
        font-size: 8px;
        padding: 6px;
        height: 20px;
        width: 95%;
    }

    /* Contact Page */
    #contact {
        height: 250px;
        padding: 3px;
    }
    h5 {
        font-size: 20px;
        margin: 10px;
    }
    .cnt-srvc {
        margin-top: 15px;
        width: 300px;
    }
    h6 {
        font-size: 13px;
        margin: 5px 0;
    }
    .contact-icon, .service-icon ul {
        padding: 5px;
    }
    .contact-icon li a{
      font-size: 13px;
    }
    .service-icon ul li {
        gap: 3px;
        font-size: 13px;
    }
    .direct-contact, .service {
        width: 100%;
        height: auto;
        padding: 3px;
    }
}