body{
    margin: 0%;
    padding-top: 58px;
    background-color: #ececec;
 }
 html{
   scroll-behavior: smooth;
 }
 section{
   scroll-margin-top: 80px;
 }
 #contact{
   scroll-margin-top: -80px;
 }
.header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
    background-color: #033d03;
    display: flex;
    align-items: center;
    padding: 15px 5px;
    z-index: 1000;
    justify-content:space-between;
 }
.logo{
    width: 75px;
    display: flex;
    align-items: center;
    padding-left: 10px;
 }
 h1{
    margin: 0;
    color: white;
    font-size: 20px;
  font-family: "Lora", serif;
  font-weight: 100;
    cursor: pointer;
 }
 
  .header-links nav ul{
   list-style: none;
   display:flex;
   justify-content: center;
  }
 .header-links nav ul li a {
color: white;
 font-family: "Momo Trust Display", sans-serif;
 letter-spacing: 1px;
padding: 5px 25px;
margin-left: 10px;
font-size: 15px;
text-decoration: none;
border-radius: 15px;
 }
 .header-links a:hover {
    background-color: darkgreen;
 }
 .nav-link.active{
   background-color: darkgreen;
   color: #00c600;
 }
 .shop-icon{
    color: white;
    padding-right: 20px;
 }




 .home-page{
    background-image: url(home-images/home-background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 530px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 60px;
    border-radius: 0 0 40px 40px;
 }
 

 h2{
    color: #00c600;
     font-family: "Momo Trust Display", sans-serif;
    font-size: 55px;
    margin: 0 0 10px 12px;

 }
 h3{
    color: white;
     font-family: "Lora", serif;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 15px 0 1px 12px;

 }
 .btn-home-page a{
    color:  white;
    background-color: #00c600 ;
     font-family: "Momo Trust Display", sans-serif;
     display: inline-flex;
     white-space: nowrap;
     align-items: center;
     justify-content: center;
    font-size: 13px;
    text-decoration: none;
    border-radius: 25px;
    margin: 40px 0 0 12px;
    padding: 13px  15px  ;
transition: all 0.8s;
width: auto;
 }
 .btn-home-page a:hover{
   background-color: white;
   color: #00c600 ;
 }
 .btn-home-page::before{
   height: 100%;
 }
 .slideshow {
  position: relative;
  width: 550px;
  height: 390px;
  margin: 40px 20px;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
}

.slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.slideshow img.active {
  opacity: 1;
}


h4{
font-family: "Momo Trust Display", sans-serif;
   font-size: 40px;
   margin: 30px 0 30px 40px;
   color: #00c600;
   display: flex;
   justify-content: center;
   align-items: center;
}

.products-cards{
   
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;

}
.cards{
   display: flex;
      flex-direction: column;
      background-color: white;
border-radius: 5px;
   height: 500px;
   width: 290px;
   margin: 3px;
   overflow: hidden;
   border: solid 1px #d8d8d8;
   cursor: pointer;
}
.cards img{
   display: block;
   width: 100%;
   height: 65%;
   object-fit: cover;

}
.cards-info{
   height: 20%;
   
}
.cards-name{
 font-family: "Bree Serif", serif;
   margin: 10px 0 10px 18px;
   font-size: 28px;
   font-weight: 500;
   color: black;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
.preis{
   display: flex;
   flex-direction: column;
   gap: 3px;
   margin-left: 18px;
}
.preis-before{
   text-decoration: line-through;
    font-size: 20px;
    color: gray;
    font-family: Almarai,sans-serif;
}
.preis-after{
   font-size: 26px;
   color: darkgreen;
   font-family: Almarai, sans-serif;
   font-weight: 600;
}
.btn-cart{
     font-family: "Momo Trust Display", sans-serif; 
   display: flex;
   flex-direction: row;
      justify-content: center;
   align-items: center;
   margin: auto;
    font-size: 15px;
    padding: 10px;
    color: white;
    background-color:  #033d03;
      width: 90%;
    height: 40px;
     border-radius: 5px;
transition: all 0.5s;
}
.btn-cart:hover{
   background-color: white;
   color:  #033d03;
 }
#contact{
    background-image: url(contact-img/contact-background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   height: 490px;
   margin-top: 40px;
   padding: 10px;
}
.contact-page{
   display: flex;
   flex-direction: column;
justify-content: center;
align-items: center;
font-family:   "Oswald", sans-serif;

}
h5{
  display: flex;
   color: #00c600;
   font-family: "Momo Trust Display", sans-serif;
   font-size: 40px;
   margin: 40px 0 0 40px;
   justify-content: center;
   align-items: center;
   cursor: default;
}

.cnt-srvc{
   display: flex;
   
margin-top: 70px;   
gap: 10px;
}
h6{
   color: #00c600;
   font-family: "Momo Trust Display", sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
      margin: 0 0 10px  0;

   font-size: 30px;
   cursor: default;


}
.direct-contact{ 
   display: flex;
   flex-direction: column;
    width: 350px;
   height: 200px;
   padding: 10px;
      background-color: #ececec;
border-radius: 10px;

    }
.contact-icon {
  display: flex;
  flex-direction: column;
  list-style: none;
   gap: 7px;
    
}


.contact-icon a {
    color: black;
   display: flex;
   margin-left: 3px;
   gap: 8px;
   font-size: 17px;
   text-decoration: none;
   align-items: center;

}
.phone:hover{
   color: rgb(24, 187, 24);
}
.instagram:hover{
   color: #e1306c;
}
.whatsapp:hover{
  color:#25D366 ;
}
.facebook:hover{
   color: white;
     color:#1877F2 ;
}
.service{
    display: flex;
   flex-direction: column;
   width: 350px;
   height: 200px;
   padding: 10px;
      background-color: #ececec;
border-radius: 10px;

}
.service-icon ul  {
    display: flex;
    flex-direction: column;
  font-size: 16px;
  list-style: none;
   gap: 8px;
   margin-top: 10px;
   margin-bottom: 0;
}
.service-icon li {
   display: flex;
   align-items: center;
   gap: 15px;
}