body{
    margin: 0%;
    padding-top: 58px;
    background-color: #ececec;
 }
 html{
   scroll-behavior: smooth;
 }
 section{
   scroll-margin-top: 80px;
 }
 #contact{
   scroll-margin-top: -80px;
 }
.header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
    background-color: #033d03;
    display: flex;
    align-items: center;
    padding: 15px 5px;
    z-index: 1000;
    justify-content:space-between;
 }
.logo{
    width: 75px;
    display: flex;
    align-items: center;
    padding-left: 10px;
 }
 h1{
    margin: 0;
    color: white;
    font-size: 20px;
  font-family: "Lora", serif;
  font-weight: 100;
    cursor: pointer;
 }
 
  .header-links nav ul{
   list-style: none;
   display:flex;
   justify-content: center;
  }
 .header-links nav ul li a {
color: white;
 font-family: "Momo Trust Display", sans-serif;
 letter-spacing: 1px;
padding: 5px 25px;
margin-left: 10px;
font-size: 15px;
text-decoration: none;
border-radius: 15px;
 }
 .header-links a:hover {
    background-color: darkgreen;
 }
 .nav-link.active{
   background-color: darkgreen;
 }
 .shop-icon{
    color: white;
    padding-right: 20px;
 }




 .home-page{
    background-color:#033d03 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 60px;
    border-radius: 0 0 40px 40px;
 }
 

 h2{
    color: #00c600;
     font-family: "Momo Trust Display", sans-serif;
    font-size: 70px;
    margin-top: -90px;
    margin-left: 10px;
     margin-left: 12px;

 }
 h3{
    color: white;
     font-family: "Courgette", cursive;
    font-size: 35px;
    letter-spacing: 3px;
    margin-top: -45px;
    margin-left: 12px;

 }
 .btn-home-page a{
    color:  white;
    background-color: #00c600 ;
     font-family: "Momo Trust Display", sans-serif;
    font-size: 15px;
    text-decoration: none;
    border-radius: 25px;
    margin-left: 12px;
    width: 130px;
    height: 40px;
    padding: 15px  20px  ;
transition: all 0.8s;
 }
 .btn-home-page a:hover{
   background-color: white;
   color: #00c600 ;
 }
 .btn-home-page::before{
   height: 100%;
 }
 .slideshow {
  position: relative;
  width: 400px;
  height: 370px;
  margin: 50px 40px;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
}

.slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.slideshow img.active {
  opacity: 1;
}
















#products{
}

.products-cards{
   
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;

}
.cards{
   display: flex;
      flex-direction: column;
      background-color: white;
border-radius: 5px;
   height: 500px;
   width: 290px;
   margin: 3px;
   overflow: hidden;
   border: solid 1px #d8d8d8;
}
.cards img{
   display: block;
   width: 100%;
   height: 65%;
   object-fit: cover;

}
.cards-info{
   height: 20%;
   
}
.cards-name{
 font-family: "Pacifico", cursive;
   margin: 8px 0 0 18px;
   font-size: 25px;
   font-weight: normal;
   color: black;
}
.preis{
   display: flex;
   flex-direction: column;
   gap: 3px;
   margin-left: 18px;
}
.preis-before{
   text-decoration: line-through;
    font-size: 20px;
    color: gray;
    font-family: Almarai,sans-serif;
}
.preis-after{
   font-size: 26px;
   color: darkgreen;
   font-family: Almarai, sans-serif;
   font-weight: 600;
}
.btn-cart{
     font-family: "Momo Trust Display", sans-serif; 
   display: flex;
   flex-direction: row;
      justify-content: center;
   align-items: center;
   margin: auto;
    font-size: 15px;
    padding: 10px;
    color: white;
    background-color:  #033d03;
      width: 90%;
    height: 40px;
     border-radius: 5px;
transition: all 0.5s;
}
.btn-cart:hover{
   background-color: white;
   color:  #033d03;
 }
#contact{
    background-color: #033d03;
   color: white;
   border-radius: 40px 40px 0 0;
   height: 300px;
}

h5{
  
   color: #00c600;
   font-family: "Momo Trust Display", sans-serif;
   font-size: 50px;
   margin: 0;
   justify-content: center;
   text-align: center;
   padding:  20px 0 30px 0;
   cursor: default;
}

.contact-icon-left {
  display: flex;
  align-items: center;
  justify-content: center;
list-style: none;
   gap: 60px;
 margin: 0;
}
.contact-icon-left a {
    color: #c6ffc6;
   display: flex;
   gap: 10px;
   padding: 0 0 20px 0;
   font-size: 25px;
   text-decoration: none;

}
.contact-icon-left a:hover{
   color: white;
}
hr{
width: 76%;
}
.contact-icon-right{
   display: flex;
   align-items: center;
   justify-content: center;
   list-style: none;
   gap: 60px;
}
.contact-icon-right a{
color: white;
   display: flex;
   gap: 10px;
   padding: 20px 0 20px 0;
   font-size: 45px;
   text-decoration: none;
}
.instagram:hover{
   color: #e1306c;
}
.whatsapp:hover{
  color:#25D366 ;
}
.facebook:hover{
     color:#1877F2 ;
}