body , html{
    margin: 0;
 padding-top: 40px;
}
.header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 40px;
    background-color: #033d03;
    display: flex;
    align-items: center;
    padding: 15px 5px;
    z-index: 1000;
 }
 .logo{
    width: 75px;
    display: flex;
    align-items: center;
    padding-left: 10px;
 }
 h1{
    margin: 0;
    color: white;
    font-size: 20px;
  font-family: "Lora", serif;
  font-weight: 100;
    cursor: pointer;
 }
.products-page-ctr{
    background-color: aqua;
    display: flex;
width: 100%;
height: 100vh;
}
.img-cntr{
   width: 50%;
   padding: 15px;
    display: flex;
    flex-direction: column;
background-color: coral;
overflow: hidden;
 object-fit: contain;
 gap: 10px;
}
.main-img{
flex: 1;
overflow: hidden;
background-color: black;
}
.main-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.side-img{
display: flex;
width: 100%;
height: auto;
overflow: hidden;
gap: 2px;

}
.side-img img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
}
.description-cntr{
    width: 50%;
    padding: 25px;
background-color: lightgreen;
    overflow: hidden;
    overflow-wrap: break-word;
}
h2{
    color: blue;
    font-size: 30px;
}
.description-fr{
white-space: normal;

}
h3{
    color: royalblue;
     text-align: right;
     font-size: 30px;
}

.description-ar{
    text-align: right;
}